body
{
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 20px;
    letter-spacing: 1px;
    
}

.slides-navigation .prev,
.slides-navigation .next
{
    background-size: cover;
    width: 47px;
    height: 47px;
}
.slides-navigation a.prev
{
    left: 20px;
    background-image: url("../icons/prev.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.slides-navigation a.next
{
    right: 20px;
    background-image: url("../icons/next.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.overlay
{
    background: rgba(0,0,0,0.6);
    height: 100%;
    position: absolute;
    z-index: 3;
    width: 100%;
}
.message
{
    position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    text-align: center;
    z-index: 3;
    margin-top: -125px;
}
.message .heading p
{
    color: #fff;
    text-align: center;
    text-shadow: 0 2px 5px rgba(0,0,0,0.4);
    font-weight: 100px;
    letter-spacing: 7px;
}
.main-title
{
    font-size: 50px;
}
.job-title
{
    animation: type 6s steps(30);
    font-size: 23px;
    animation-timing-function: ease;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    font-family: 'consolas';
    margin: 0 auto;
    width: 30ch;
}
@keyframes type{
    0%{
        width:0ch;
       margin: 0 auto;
    }
    100%
    {
        
        width:30ch;
        margin: 0 auto;
    }
}

.cv-about
{
    padding: 100px 0px;
}
.about-image
{
    width: 100%;
}
.about-image img
{
    max-width: 100%;
}
.row
{
    width: 100%;
}
.cv-skills, .contact {
    padding-top: 70px;
    height: 100%;
    min-height: 350px;
    color: #fff;
    background-color: #0984e3;
}
.cv-skills p
{
    font-size: 20px;
}
.skill-item
{
    text-align: center;
}
.chart
{
    position: relative;
    width: 152px;
    height: 152px;
    margin-left: 10px;
    text-align: center;
    display: inline-block;
}

.chart canvas
{
    position: absolute;
    top: 0;
    left: 0;
}
.percent
{
    color: #000;
    line-height: 150px;
    font-size: 35px;
}
.chart .percent:after
{
    content: '%';
}
.skills
{
        margin-bottom: 60px;
}
.square-item
{
    margin-top: 30px;
    position: relative;
}
.square-inner-container
{
    position: relative;
    padding: 80px 15px 35px;
    text-align: center;
    border: 2px solid #444;
    border-top: none;
    margin-top: 70px;
}



.square-content h2
{
    font-size: 56px;
    margin-bottom: 20px;
    font-weight: 500px;
    color:#0984e3;
    
}
.square-content h3
{
 font-size: 13px;
font-weight: 600px;
    margin: 0;
}

.square-icon i
{
       position: absolute;
    top: -15px;
              left: 43%;

    font-size: 50px;
}
.contact
{
    margin-top: 80px;
}
.contact-btn {
    padding: 5px;
    border: 2px solid #fff;
    color: #fff;
    display: inline-block;
    width: 140px;
    height: 38px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.contact-btn a
{
    color: #fff;
        text-decoration: none;

}
.portfolio
{
    margin-top: 50px;
}
.filter ul  li a
{
    color: gray;
    text-decoration: none;
    border: 1px solid #dfe6e9;
    padding: 15px 15px;
    display: block;
}
.item
{
        height: 134.25px !important;
}
.filter ul li
{
    display: inline-block;
    padding: 5px;
}
.filter .curent
{
        background-color:#0984e3;
    border: 1px solid #0984e3;
    color: #fff;
}
.items li
{
    display: inline-block;
    padding: 5px;
}
.item-container
{
    width: 100%;
    padding-left: 150px
}
.filter
{
    text-align: center;
    width: 100%;
}
.heading
{
    text-align: center;
    width: 100%;
    padding-bottom: 30px;
}
.front-end
{
width: 300px;}
.front-end img
{
    max-width: 100%;
}
.items .item
{
    position: relative;
    display: block;
}
.icons
{
             position: absolute !important;
    left: 94px !important;
    top: 35.7188px !important;
    
    
}
.icons i
{
    border: 1px solid #0984e3;
    color: #fff;
    font-size: 20px;
    padding: 5px;
    background-color: #0984e3;
}
.item img
{
    width: 100%!important;
}
.copyright
{
    background-color: #000;
    text-align: center;
}
.copyright p
{
    color: #fff;
    padding: 25px;
    margin: 0;
}
.main-nav ul li a
{
    padding: 5px;
    color: #fff;
    text-decoration: none;
}
.navbar-nav ul li a
{
    color: #fff;
}